@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    h1, h2, h3, h4, h5, h6 {
      @apply text-balance;
    }
    p {
      @apply text-pretty max-w-prose;
    }
  }

  :root {
    --background: 0 0% 90.98%;
    --foreground: 229 63% 4%;
    --muted: 0 0% 86%;
    --muted-foreground: 0 0% 35.1%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 12.55%;
    --border: 0 0% 71%;
    --input: 0 0% 71%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 45.88 100% 50%;
    --secondary-foreground: 222.86 84% 4.9%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 100% 95.04%;
    --ring: 24.8 79.79% 63.14%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 8% 7%;
    --foreground: 0 0% 85%;
    --muted: 0 0% 13.5%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 9.8%;
    --popover-foreground: 0 0% 85%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 85%;
    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --primary: 0 0% 85%;
    --primary-foreground: 0 0% 9%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 85%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 85%;
    --ring: 23.11 59.8% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
